<%= link_to "Create new post",new_post_path %>
<h1>All Post</h1>

<% @posts.each do |post| %>
	
	
 	
	<%= link_to post do %>
	
		<%= image_tag post.picture.url if post.picture? %> 
		<h3>	<%= post.title %>	</h3>
	
	<% end %>

	<p>		<%= post.price %>	</p>
	<p>		<%= post.body %>	</p>
	<hr>
<% end %>


