<%= image_tag @post.picture.url if @post.picture? %> <br>


<h1>	<%= @post.title %>	</h1>
<p>		<%= @post.price %>	</p>
<p>		<%= @post.body %></p>
<h6>Category: <%= link_to @post.category.name,category_path(:id => @post.category.id) %> </h6> <br>


<%= link_to "All post", posts_path %>

